<div class="row d-flex align-items-center w-100">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 website_name_label">
     {{user.email}}
    </div>
    <div class="col-md-2">
    </div>
    <img src="assets/user.png" class="profile" [routerLink]="['/settings-instructor-profile']">
    <button class="logout-btn"  (click) = "logout()" routerLink="/">Log out</button>
  </div>
    
    <div class="row d-flex align-items-center w-100">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <nav class="navMenu">
          
          <a href="orders" style="float:none">ORDERS</a>
          <a href="report-business" style="float:none">BUSINESS REPORT</a>
          <a href="products-table" style="float:none">WAREHOUSE</a>
          <a href="create-offer" style="float:none">CREATE OFFER</a>
          <a href="offers" style="float:none">OFFERS</a>
          <a href="orders-review" style="float:none">Review orders</a>
       
        </nav>
      </div>
      <div class="col-md-4">
      </div>
    </div> 
  
  
    <div class="row d-flex align-items-center frontpage_gray_banner">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="row d-flex align-items-center frontpage_gray_banner_label">Welcome,</div>
        <div class="row d-flex align-items-center frontpage_gray_banner_label">{{user.email}} {{user.surname}}</div>
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <mat-toolbar class="navMenu" style="cursor: pointer; margin-top: 2%; align-items: left;">      
      <div class="row d-flex align-items-center w-100">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <nav class="navMenu" style="font-size: 15px;">            
            <a (click)="addProductBox = true"  style="float:none">Procced with payment</a>
          </nav>
        </div>
        <div class="col-md-4">
        </div>
      </div>  
      </mat-toolbar>

      <div class="example-form" >
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="double-input">
            <mat-form-field class="input-box" appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="" value="" formControlName="amount">
            </mat-form-field>
            <mat-form-field class="input-box" appearance="outline">
                <mat-label>Merchant Order Id</mat-label>
                <input matInput placeholder="" value="" formControlName="merchantOrderId">
            </mat-form-field>
          </div>  
          <div class="double-input">
            <mat-form-field class="text-area" appearance="outline">
              <mat-label>Merchant Timestamp</mat-label>
              <input matInput [matDatepicker]="merchantTimestampPicker" placeholder="Select date" formControlName="merchantTimestamp">
              <mat-datepicker-toggle matSuffix [for]="merchantTimestampPicker"></mat-datepicker-toggle>
              <mat-datepicker #merchantTimestampPicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="double-input">
            <mat-form-field class="input-box" appearance="outline">
                <mat-label>Merchant</mat-label>
                <input matInput placeholder="" value="" formControlName="userId">
            </mat-form-field>
            <mat-form-field class="input-box" appearance="outline">
                <mat-label>Acquirer</mat-label>
                <input matInput placeholder="" value="" formControlName="acquirerId">
            </mat-form-field>
          </div> 
          <button class="btn">Submit</button>
        </form>
        <button class="btn" (click)="onSubmit1()">Generate payment</button>
        
        <button class="btn" [routerLink]="['/card-payment']">Card info</button>
        
  
  
    <div class="row d-flex align-items-center footer">
      <div class="col-md-3">
        <h2 class="link_title">Product</h2>
        <h4 class="link_subtitle">Our plan</h4>
        <h4 class="link_subtitle">Free trial</h4>
      </div>
      <div class="col-md-3">
        <h2 class="link_title">About us</h2>
        <h4 class="link_subtitle">Request demo</h4>
        <h4 class="link_subtitle">FAQs</h4>
      </div>
      <div class="col-md-3">
        <h2 class="link_title">Support</h2>
        <h4 class="link_subtitle">Services</h4>
        <h4 class="link_subtitle">Contact us</h4>
      </div>
      <div class="col-md-3">
        <h2 class="link_title">Covid-19 FAQs</h2>
        <h4 class="link_subtitle">Reviews</h4>
        <h4 class="link_subtitle">Safety</h4>
      </div>
    </div>
